html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    background: rgb(240, 240, 240);
}

.wrapper {
    padding: 1em;
}

ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin-right: auto;
}